article .entry .gist {
  background: #eee;
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
article .entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
article .entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
article .entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: font-mono;
}
article .entry .gist .gist-file .gist-meta {
  background: none;
  color: color-meta;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
article .entry .gist .gist-file .gist-meta a {
  color: color-link;
}
article .entry .gist .gist-file .gist-meta a:visited {
  color: color-link;
}
article figure.highlight {
  background: #f2f4f6;
  margin: 15px 0 0;
  border-radius: 2px;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
article figure.highlight figcaption {
  color: color-meta;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
article figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
article figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
}
article figure.highlight table {
  margin: 0;
  border-spacing: 0;
}
article figure.highlight tr {
  border: 0;
  background: none;
}
article figure.highlight .gutter {
  display: none;
}
article figure.highlight .code {
  padding: 1.2em 1.4em;
  color: #666;
  border: 0;
}
article figure.highlight .line {
  height: 20px;
}
article pre{
  background-color:#f2f4f6;
  color: #555555; 
}
article pre .comment,
article pre .template_comment,
article pre .diff .header,
article pre .doctype,
article pre .pi,
article pre .lisp .string,
article pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
article pre .keyword,
article pre .winutils,
article pre .method,
article pre .addition,
article pre .css .tag,
article pre .request,
article pre .status,
article pre .nginx .title {
  color: #859900;
}
article pre .number,
article pre .command,
article pre .string,
article pre .tag .value,
article pre .phpdoc,
article pre .tex .formula,
article pre .regexp,
article pre .hexcolor {
  color: #2aa198;
}
article pre .title,
article pre .localvars,
article pre .chunk,
article pre .decorator,
article pre .built_in,
article pre .identifier,
article pre .vhdl,
article pre .literal,
article pre .id {
  color: #268bd2;
}
article pre .attribute,
article pre .variable,
article pre .lisp .body,
article pre .smalltalk .number,
article pre .constant,
article pre .class .title,
article pre .parent,
article pre .haskell .type {
  color: #b58900;
}
article pre .preprocessor,
article pre .preprocessor .keyword,
article pre .shebang,
article pre .symbol,
article pre .symbol .string,
article pre .diff .change,
article pre .special,
article pre .attr_selector,
article pre .important,
article pre .subst,
article pre .cdata,
article pre .clojure .title {
  color: #cb4b16;
}
article pre .deletion {
  color: #dc322f;
} 