html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}


dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
}

header {
    background: #01222d;
    height: 70px;
}
.header-content{
    margin: 0 auto;
}
header:after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

header nav {
    padding: 2rem;
}

header nav ul {
    list-style: none;
}

header nav li {
    float:left;
}
header nav li:first-child{
    position: relative;
    margin-left: 30px;
}

header nav a,
header nav a:link,
header nav a:visited,
header nav a:hover,
header nav a:active {
    font-weight: 300;
    color: rgba(255,255,255,.7);
    font-size: 1.4rem;
    letter-spacing: .2rem;
    margin: 0 1.7rem;
    text-decoration: none;
}

header .icon{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
    filter:alpha(opacity=100);
    fill: #a2acaf;
    position: absolute;
    top:1px;
    left: 165px;
/*    right: 1rem;*/
    /*top: 50%;*/
    /*margin-top: -0.77rem;*/
    z-index: 1;
}
.search-input{
    float: left;
    position: relative;
    margin-left: 50px;
}

#san-query-input{
    margin-top: -6px;
    width: 16rem;
    display: inline-block;
    background: #00222d;
    height: 2.8rem;
    padding-right: 2.5rem;
    padding-left: 1rem;
    border: 0; 
    border-bottom: 2px solid #717e82;
    /*-webkit-border-radius: 3rem;
    -moz-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;*/
    transition-timing-function: ease;
    transition-duration: .3s;
    transition-property: all;

}
#san-query-input:focus{
    outline: none;
    border: none; 
    background: #fff;
}

#san-query-input::-webkit-input-placeholder{
    color: rgba(255,255,255,.7);
    letter-spacing: 2px;
}

.header-lang {
    float: right;
    width: 40px;
    margin-right: 50px;
}

.github {
    font-size: 3rem;
}

.header-index .github {
    display: block;
}

.header-index .github:link,
.header-index .github:visited {
    color: #fff;
}

.header-index .github:hover {
    color: #9ee0fe;
}

header b {
    font-size: 3.6rem;
    letter-spacing: .05rem;
    font-weight: 300;
    line-height: 6.8rem;
}




.header-index {
    padding-top: 20px;
    text-align: center;
    background: #001a23;
}

.header-index p {
    font-size: 1.8rem;
    letter-spacing: .05rem;
    font-weight: 300;
    color: #aaa;
    margin: .5rem;
}

.header-index h1 {
    font-size: 4rem;
    letter-spacing: .05rem;
    font-weight: 300;
    margin: .5rem;
}

.logo {
    display: block;
    margin: 0 auto;
}

.logo-s-link {
    float: left;
    margin: 4px 10px 0 20px;
}

.logo-s-link,
.logo-s-link:link,
.logo-s-link:hover,
.logo-s-link:active {
    color: #fff;
}
.logo-s-link b {
    margin-left: 10px;
    float: left;
}
.logo-s {
    border: 0;
    float:left;
    height:32px;
    margin-top: 15px;
    margin-left: 15px;
}


footer {
    background: #232b33;
    margin: 0;
}


.recommend {
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    width: 16rem;
}

.recommend dt {
    font-size: 1.7rem;
    margin-top: 3.5rem;
    margin-bottom: 1.25rem;
    font-weight:  500;
    color: #2da2f8;
}

.recommend dd a
{
    color: #818688;
    text-decoration: none;
    line-height: 2.2em;
    font-weight: 300;
    font-size:1.05em;
    transition-timing-function: ease;
    transition-duration: .1s;
    transition-property: color;
    cursor: pointer;
}
.recommend dd a:visited {
    color:#818688;
    text-decoration: none;
}
.recommend dd a:hover{
    color: #2EA2F8;
}

.recommend-active {
    color: #2EA2F8 !important;
}


main {
    overflow: hidden;
    min-width: 90rem;
    padding: 20px 0 0 39px;
    position: relative;
    background-color: #fff;
}
.san-perf {
    display: block;
    margin: 60px auto;
    width: 655px;
    height: 809px;
}
.example-main {
    background: #fff;
    padding: 3rem 1rem 8rem;
    font-size: 1.4rem;
    color: #aaa;
}

.example-main dt {
    font-size: 1.8rem;
    margin: 4rem 0 2rem;
}

.example-main a:link,
.example-main a:visited,
.example-main a:active,
.example-main a:hover {
    color: #fff;
    text-decoration: none;
    background: #2EA2F8;
    padding: .3rem .6rem;
    border-radius: .2rem;
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: background;
}

.example-main a:hover {
    background: #64c1e0;
}

.example-codepen {
    margin: 2rem 0;
    max-width: 80rem;
}

.example-main .example-online-title {
    font-size: 2rem;
    color: #2da2f8;
    margin-top: 5rem;
}

.example-main{
    margin-bottom: 0;
}

.example-main dd, 
.example-main dt {
    margin-left: 9rem;
}

.footer-copyright{
        clear: both;
    text-align: center;
    padding: 18px 0 18px 0;
    box-sizing: border-box;
    background-color: #01222d;
    color: #7e8a8f;
}
.footer-copyright>a{
    color: #7e8a8f;
}
.footer-copyright>a:hover{
    color: #2EA2F8;
    text-decoration: none;
}

/*屏幕宽度小于768px的时候响应式部分*/

.mobile-nav{
     display: none;   
    }
#mobile-nav-icon{
    display: none;
}


@media only screen and  (max-width: 768px){

    .san-perf,
    .header-lang {
        display: none;
    }
    .algolia-autocomplete .ds-dropdown-menu {
        margin-top: 0;
        top: 56px !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        position: fixed !important;
        min-width: 0 !important;
        border-radius: 0;
    }
            

    .toc-wrap,.recommend,nav>ul{
        display: none;
    }
    main{
        min-width: 100%;
        padding: 0;
    }
    .article{
        margin: 0 2rem 4rem 2rem
    }
    header{
        text-align: center;
    }
    .logo-s-link{
        float: none;
        display: inline-block;
        margin:0;
    }
    .logo-s{
        margin-left: 0;
        margin-top: 20px;
    }

    .search-input{
        float: none;
        margin-right: 0;
    }

    #san-query-input{
    position: absolute;
    width: 100px;
    background:rgba(0,0,0,0); 
    height: 40px;
    border: 0; 
    border-radius: 0;
    /*-webkit-border-radius: 3rem;
    -moz-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;*/
    transition-timing-function: ease;
    transition-duration: .3s;
    transition-property: all;
}

#san-query-input:focus{
    outline: none;
    border: none; 
    background:rgba(0,0,0,0); 
    /*opacity: 0;*/
    border-bottom: 2px solid #7e8a8f;
}
.header-content-nav{
    position: absolute;
    top: 22px;
    right: 20px;
    padding: 0;
}


header .icon{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    /*filter:alpha(opacity=30);*/
    fill: rgba(255,255,255,1);
    position: absolute;
    top:1px;
    left:78px;
/*    right: 1rem;*/
    /*top: 50%;*/
    /*margin-top: -0.77rem;*/
    z-index: 1;
}
    #mobile-nav-icon{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
        width: 25px;
        height: 20px;
        margin: auto;
        opacity: .5;
        cursor: pointer;
    }
    .mobile-nav-dimmer-on{
        width: 100%;
        opacity: .7;
        position: absolute;
        top: 70px;
        /*left: 100%;*/
        height: 100%;
        background: #000;
    -webkit-transition: opacity .4s,-webkit-transform 0s .4s;
    -moz-transition: opacity .4s,-moz-transform 0s .4s;
    -ms-transition: opacity .4s,-ms-transform 0s .4s;
    transition: opacity .4s,transform 0s .4s;

    }
    .body-inner{
        transition: ease .3s;
    }

    .body-inner-on{
        transform: translateX(240px);
        transition: ease .3s;
     }

    .mobile-nav{
        z-index: 999;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
     left: -240px;
     top: 0;  
     display: block; 
     width: 240px;
     background:#032029;
     height: 100%; 
         transition: ease .3s;
     }
     .mobile-nav-on{
        left:0;
     }
    
     .mobile-nav-header{
        margin: 10px 0 10px 0;
     }
    .mobile-nav-header>li>a{
      color: rgba(255,255,255,.8);
        font-weight: 300;
        line-height: 3;
        margin-left: 30px;
        font-size: 15px;
    }


    .mobile-nav-recommend{
        overflow-y: auto;
    /*padding: 30px;*/
    /*position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;   */
    }
    .mobile-nav-recommend>dl>dt{
        color: #2EA2F8;
        font-weight: 300;
        border-top: 1px solid rgba(255,255,255,.15);
        display: block;
        padding:25px 10px 14px 20px;
    }
    .mobile-nav-recommend>dl>dd>a{
        font-size: 15px;
        color: rgba(255,255,255,.8);
        font-weight: 300;
        line-height: 3;
        margin-left: 30px;
    }
    .mobile-nav-recommend>dl>dd>a:hover,.mobile-nav-header>li>a:hover{
        text-decoration: none;
    }
   /* body,html{
        overflow:hidden
    }*/
    #mobile-nav-toggle{
    display: inline-block;
     position: absolute;
    top: 27px;
    left: 20px;
    width: 24px;
    height: 20px;
    margin: auto;
    cursor: pointer;
    z-index: 999;
    }
   
    .mobile-nav-toggle-bar{
    background: #a2acaf;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    border-radius: 2px;
    }
    .mobile-nav-toggle-bar:first-child{
        top:0;
    }
  
    .mobile-nav-toggle-bar:last-child{
        top:13px;
    }
    /*click mobile-nav-toggle-bar*/
    .mobile-nav-toggle-bar-on:first-child{
        transform: rotate(45deg);
    }
  
    .mobile-nav-toggle-bar-on:last-child{
        transform: rotate(-45deg);
        top: 17px;
    }


}


