.ui-layer {
    position: absolute;
    background: #fff;
    color: #666;
}

.ui-calendar {
    width: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.ui-calendar:hover {
    background: #444;
}

.ui-calendar-layer {
    width: 210px;
    background: #fff;
    color: #333;
}

.ui-calendar-layer .ui-calendar-func {
    line-height: 30px;
    height: 30px;
    background: #eee;
    color: #666;
}

.ui-calendar-layer ol {
    margin: 0;
    padding: 0;
}

.ui-calendar-layer b {
    text-align: center;
    width: 149px;
    float: left;
}

.ui-calendar-layer .fa-angle-left,
.ui-calendar-layer .fa-angle-right {
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
}

.ui-calendar-layer .fa-angle-right {
    float: right;
}

.ui-calendar-layer {
    overflow: hidden;
}

.ui-calendar-layer li {
    float: left;
    width: 30px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}

.ui-calendar-layer .date-head li {
    background: #ddd;
    cursor: default;
}

.ui-calendar-layer li.selected {
    background: #eee;
    cursor: default;
}