node_modules/
dist/*.js
dist/*.gz
.idea/
public/
npm-debug.log
package-lock.json
Thumbs.db
.DS_Store
*.swp
*.gz
bug.html
test.html
coverage/
errorShots/
/test/index-ssr.html
/test/ssr/ssr.spec.js
/test/pref/tti.html
*.vscode
