node_modules/
dist/*.js
dist/*.gz
dist/*.map
.idea/
public/
npm-debug.log
/*/**/package-lock.json
Thumbs.db
.DS_Store
*.swp
*.gz
bug.html
test.html
coverage/
errorShots/
/test/karma-context.html
/test/index-reverse.html
/test/reverse.spec.js
/test/pref/tti.html
*.vscode
