
body {
    background: #333;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}

h3,
p,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#app {
    width: 800px;
    margin: 0 auto;
}
