.todo-add {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    margin: 50px auto 10px;
    max-width: 800px;
    background: #6a6a6a;
    color: #fff;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.todo-add:hover {
    background: #222;
}
.filter-category {
    display: inline-block;
}

.filter-category li {
    display: inline-block;
    margin: 5px 8px 5px 0;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}

.filter-category li a {
    color: #fff;
    text-decoration: none;
}

.filter-category .checked {
    box-shadow: 0 0 0 2px #ddd inset;
}

.filter-category-clear {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.todo-list {
    list-style: none;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    margin: 10px auto;
    max-width: 800px;
}

.todo-list h3 {
    font-size: 18px;
    height: 30px;
    margin-bottom: 5px;
    color: #333;
}

.todo-list li {
    padding: 10px;
    background: #eee;
    border-radius: 5px;
    position: relative;
    font-size: 14px;
    color: #666;
    border-left: 8px solid #555;
    margin-bottom: 8px;
}

.todo-list .fa {
    font-size: 14px;
    position: absolute;
    top: 5px;
    display: none;
    color: #60a917;
    text-decoration: none;
    cursor: pointer;
}

.todo-list .fa-trash-o {
    right: 5px;
}

.todo-list .fa-check {
    right: 25px;
}

.todo-list .fa-pencil {
    right: 45px;
}

.todo-list li:hover .fa {
    display: block;
    color: #999;
}

.todo-list .todo-done .fa {
    display: block;
}
.todo-list .todo-done:hover .fa {
    color: #60a917;
}

.todo-list .todo-done {
    cursor: default;
    opacity: .4;
}

.todo-meta {
    font-size: 10px;
    color: #999;
}